n8n-workflows/email-automations/Email_Sub_Agent.json
{
  "name": "Email Sub Agent",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "You are a helpful assistant and you have a gmail tool that you have to use when user wants to send an email"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "3c60d1f1-c2b8-400e-bcb9-cbd81059a1e2",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        144,
        192
      ],
      "id": "972601ee-3853-4b4b-b194-c4ef9c964aed",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Ph7Az3nLLbLbhoCW",
          "name": "OpenAi account 5"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        384,
        176
      ],
      "id": "4556c5a8-c996-4d09-9674-b760be5f3b52",
      "name": "Send a message in Gmail",
      "webhookId": "a656e012-a14d-4af3-befa-311754b72fe3",
      "credentials": {
        "gmailOAuth2": {
          "id": "rHW6YEahN5czCQjX",
          "name": "Gmail account 10"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "98a692ef-14b3-4af4-8ae2-51768bb2b98c",
      "name": "When Executed by Another Workflow"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "3ae376d7-3e3c-4641-a185-ff94e08baac2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "52f6acb3999bf8f65e8fd2e6722d5f94138aa8d32dc07efc0fc6148a47ee4b6a"
  },
  "id": "Rtecg5nUd3Jipega",
  "tags": []
}
