n8n-workflows/rag-agents/RAG.json
{
  "name": "RAG",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query.message }}",
        "options": {
          "systemMessage": "=You are a helpful assistant\nYou have 2 tools\n1. Gmail (Use it if user asks you to send an email)\n2. Pinecone Vector Store (Use it query questions about roadmap)\n3. Drive (Use this to upload files on drive)\nToday's date {{ $now }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -16,
        -112
      ],
      "id": "9b643123-f52d-49f8-9f8a-66674ed73f60",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Grab Roadmap data from Pinecone Database",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n"
        },
        "topK": 5,
        "options": {
          "pineconeNamespace": "roadmap"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        496,
        -64
      ],
      "id": "e505b011-12d3-42bb-909c-1e286eb8d0f2",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "4cLlZRrZwQb6G5aN",
          "name": "PineconeApi account 4"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -64,
        80
      ],
      "id": "44419590-5641-4c4b-bf27-45a10451c871",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Ph7Az3nLLbLbhoCW",
          "name": "OpenAi account 5"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.headers['x-real-ip'] }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        80,
        64
      ],
      "id": "520e2b40-eecd-467e-bcde-5359cace9726",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTool",
      "typeVersion": 3,
      "position": [
        256,
        80
      ],
      "id": "59ccfb2b-c534-467d-9135-a3d6eac799d3",
      "name": "Upload file in Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Ta4JzJMPuApRRfus",
          "name": "Google Drive account 5"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1lJPvO09CSK2qQPg2hmLIv2mssDcuLRhr",
          "mode": "list",
          "cachedResultName": "N8N",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1lJPvO09CSK2qQPg2hmLIv2mssDcuLRhr"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -928,
        576
      ],
      "id": "d1878964-6621-4e40-9219-156faa75c629",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Ta4JzJMPuApRRfus",
          "name": "Google Drive account 5"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        48,
        336
      ],
      "id": "2c952324-22cb-484a-ba62-57fbaef81fb1",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Ta4JzJMPuApRRfus",
          "name": "Google Drive account 5"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n"
        },
        "options": {
          "pineconeNamespace": "roadmap"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        256,
        336
      ],
      "id": "addc67d0-9c7b-4242-8a2c-afada1d7ce25",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "4cLlZRrZwQb6G5aN",
          "name": "PineconeApi account 4"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 512
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        192,
        512
      ],
      "id": "2c1cbd6f-318c-45c0-9715-fda0498feca1",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "Ph7Az3nLLbLbhoCW",
          "name": "OpenAi account 5"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        336,
        496
      ],
      "id": "9195608c-a40d-454b-824e-7c37b37eae5d",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {
          "dimensions": 512
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        528,
        80
      ],
      "id": "5aa079d7-491c-40a2-b93b-c78a7dc240c6",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "Ph7Az3nLLbLbhoCW",
          "name": "OpenAi account 5"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        -208,
        96
      ],
      "id": "126b1a66-47d7-4336-93a0-235a75a24c03",
      "name": "Send a message in Gmail",
      "webhookId": "4d13cc24-ec83-44f2-971c-3fee39dcb52e",
      "credentials": {
        "gmailOAuth2": {
          "id": "rHW6YEahN5czCQjX",
          "name": "Gmail account 10"
        }
      }
    },
    {
      "parameters": {
        "path": "16975237-13c3-482b-a176-5877ea300d2e",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -304,
        -112
      ],
      "id": "487fd01f-9a9f-442a-a03a-aea60a3c84da",
      "name": "Webhook",
      "webhookId": "16975237-13c3-482b-a176-5877ea300d2e"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        320,
        -176
      ],
      "id": "78e3c18e-eb98-43bb-a34a-545e2cfda2cd",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1lJPvO09CSK2qQPg2hmLIv2mssDcuLRhr",
            "mode": "list",
            "cachedResultName": "N8N",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1lJPvO09CSK2qQPg2hmLIv2mssDcuLRhr"
          }
        },
        "options": {}
      },
      "id": "5dbbe866-78fc-431b-8fff-ca7e877e77a2",
      "name": "Get Files From Folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -160,
        352
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Ta4JzJMPuApRRfus",
          "name": "Google Drive account 5"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "id": "d6c516f9-c2e8-45ac-8863-610702227635",
      "name": "Every 1 Minute1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -368,
        352
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Upload file in Google Drive": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        []
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every 1 Minute1": {
      "main": [
        [
          {
            "node": "Get Files From Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Files From Folder": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "ad207eda-079f-442c-94f7-c3dd29468689",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "52f6acb3999bf8f65e8fd2e6722d5f94138aa8d32dc07efc0fc6148a47ee4b6a"
  },
  "id": "gqEqPeK5NTC5dWnr",
  "tags": []
}
